<%= form_tag "/keeper/rank" do %>
  <div class="field-location">
    <%= label(:latitude, 'latitude') %><br>
    <%= text_field_tag 'latitude' %><br>
    <%= label(:longitude, 'longitude') %><br>
    <%= text_field_tag 'longitude' %><br>
    <%= label(:radius, 'radius') %><br>
    <%= text_field_tag 'radius' %><br>
    <%= render 'formthree' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Enviar' %>
  </div>
<% end %>