  <h2>lista de atividades complementares para seu filho</h2>
  <div class="field-complementares">
    <%= label(:jornal_escolar, 'Jornal Escolar') %><br>
    <%= check_box_tag 'Jornal Escolar' %><br>
    <%= label(:percussao, 'Percussão') %><br>
    <%= check_box_tag 'Percussão' %><br>
    <%= label(:musica, 'Música') %><br>
    <%= check_box_tag 'Música' %><br>
    <%= label(:estudos_e_leitura, 'Orientação de Estudos e Leitura (Escola urbana)') %><br>
    <%= check_box_tag 'Orientação de Estudos e Leitura (Escola urbana)' %><br>
    <%= label(:horta_escolar, 'Horta escolar e/ou Comunitária') %><br>
    <%= check_box_tag 'Horta escolar e/ou Comunitária' %><br>
    <%= label(:teatro, 'Teatro') %><br>
    <%= check_box_tag 'Teatro' %><br>
    <%= label(:atletismo, 'Atletismo') %><br>
    <%= check_box_tag 'Atletismo' %><br>
    <%= label(:flauta_doce, 'Iniciação Musical por Flauta Doce') %><br>
    <%= check_box_tag 'Iniciação Musical por Flauta Doce' %><br>
    <%= label(:desenho, 'Desenho') %><br>
    <%= check_box_tag 'Desenho' %><br>
    <%= label(:cineclube, 'Cineclube') %><br>
    <%= check_box_tag 'Cineclube' %><br>
    <%= label(:dancas, 'Danças') %><br>
    <%= check_box_tag 'Danças' %><br>
    <%= label(:capoeira, 'Capoeira') %><br>
    <%= check_box_tag 'Capoeira' %><br>
    <%= label(:banda, 'Banda') %><br>
    <%= check_box_tag 'Banda' %><br>
    <%= label(:karate, 'Karatê') %><br>
    <%= check_box_tag 'Karatê' %><br>
    <%= label(:instrumentos_de_cordas, 'Iniciação Musical de Instrumentos de Cordas') %><br>
    <%= check_box_tag 'Iniciação Musical de Instrumentos de Cordas' %><br>
    <%= label(:sala_estudo_de_linguas, 'Sala Temática para o Estudo de Línguas') %><br>
    <%= check_box_tag 'Sala Temática para o Estudo de Línguas' %><br>
    <%= label(:jardinagem_escolar, 'Jardinagem Escolar') %><br>
    <%= check_box_tag 'Jardinagem Escolar' %><br>
    <%= label(:tecnologicas_educacionais, 'Tecnologicas Educacionais') %><br>
    <%= check_box_tag 'Tecnologicas Educacionais' %><br>
    <%= label(:iniciacao_cientifica, 'Iniciação Científica') %><br>
    <%= check_box_tag 'Iniciação Científica' %><br>
    <%= label(:pintura, 'Pintura') %><br>
    <%= check_box_tag 'Pintura' %><br>
    <%= label(:radio_escolar, 'Rádio Escolar') %><br>
    <%= check_box_tag 'Rádio Escolar' %><br>
  </div>
