<div style="width:50%;background-color:white;margin:auto;">
<h1>Schools rank</h1>
      <% @schools_final_list.each do |school| %>
        <div style="margin-top:5%">
        <p><strong>Nome:</strong> <%= school["name"] %></p>
        <p><strong>distancia:</strong> <%= school["geometry"]["location"]["distance"] %> Km</p>
        <p><strong>Endereço:</strong> <%= school["vicinity"]%></p>
        <p><strong>Telefone:</strong> <%= (school["atividades_complementares"].empty?) ? "dados não encontrados" : school["atividades_complementares"].first["telefone"]%></p>
        <p><strong>Email:</strong> <%= (school["atividades_complementares"].empty?) ? "dados não encontrados" : school["atividades_complementares"].first["email"]%></p>
        <p><strong>Atividades ofertadas:</strong></p>
        <% unless school["atividades_complementares"].empty? %>
            <% school["atividades_complementares"].each do |atividade| %>
            <p><%= atividade["nome_atividade"]%></p>
            <% end %>
        <% end %>
        </div>
      <% end %>
</div>